@model Asr.Models.Slot

@{
    ViewData["Title"] = "Booking Confirmation";
}

<h2>Booking Confirmation</h2>

<h3>Confirm booking details.</h3>
<div>
    <h4>Slot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Room.RoomID)
        </dd>
        <dt>
            Start Time
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>
            Staff ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staff.StaffID)
        </dd>
        <dt>
            Staff Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staff.Name)
        </dd>
    </dl>
    <a class="text-danger">@ViewBag.ErrorMessage</a>
    <form asp-action="BookSlot">
        <input type="hidden" asp-for="RoomID" />
        <input type="hidden" asp-for="StartTime" />
        <input type="hidden" asp-for="StudentID" />
        <input type="hidden" asp-for="StaffID" />
        <input type="submit" value="Confirm" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
