@model Asr.Models.Slot

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Room.RoomID)
        </dd>
        <dt>
            Start Time
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>
            Staff ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staff.StaffID)
        </dd>
        <dt>
            Staff Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staff.Name)
        </dd>
        <dt>
            Student ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.StudentID)
        </dd>
        <dt>
            Student Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
