@model IEnumerable<Slot>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<h2>Student Dashboard</h2>
<h3>My Bookings</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.Room)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Staff)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.StartTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x => x.StudentID == UserManager.GetUserName(User).Substring(0, 8)).OrderBy(y => y.StartTime))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    <a asp-action="CancelBooking" asp-route-roomid="@item.RoomID" asp-route-starttime="@item.StartTime">Cancel Booking</a> |
                    <a asp-action="Details" asp-route-roomid="@item.RoomID" asp-route-starttime="@item.StartTime">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Where(x => x.StudentID == UserManager.GetUserName(User).Substring(0, 8)).Count() > 4)
{
    <a asp-action="AllBookings"> See all </a>
}
<h3>Available Slots</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x => x.StudentID == null).OrderBy(y => y.StartTime).Take(5))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.RoomID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    <a asp-action="BookSlot" asp-route-roomid="@item.RoomID" asp-route-starttime="@item.StartTime">Book Slot</a> |
                    <a asp-action="Details" asp-route-roomid="@item.RoomID" asp-route-starttime="@item.StartTime">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Where(x => x.StudentID == null).Count() > 4)
{
<a asp-action="AllSlots">See all</a>
}