@model IEnumerable<Room>

<h2>Rooms</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(x => x.RoomID)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model) {
        <tr>
            <td>@Html.DisplayFor(x => item.RoomID)</td>
        </tr>
    }
    </tbody>
</table>

@*<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(x => x.RoomID)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.Slots.First().Staff)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.Slots.First().Student)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.SelectMany(x => x.Slots)) {
        <tr>
            <td>
                @Html.DisplayFor(x => item.Room.RoomID)
            </td>
            <td>
                <p>@Html.DisplayFor(x => item.Staff.StaffID)</p>
                <p>@Html.DisplayFor(x => item.Staff.Name)</p>
                <p>@Html.DisplayFor(x => item.Staff.Email)</p>
            </td>
            <td>
                <p>@Html.DisplayFor(x => item.Student.StudentID)</p>
                <p>@Html.DisplayFor(x => item.Student.Name)</p>
                <p>@Html.DisplayFor(x => item.Student.Email)</p>
            </td>
        </tr>
    }
    </tbody>
</table>*@
